<footer>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<div class="col-md-4">
					<h3 class='bold'>RubySR</h3>
					<%= link_to 'contato@rubysr.com.br', '' %>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li>
							<i class="fab fa-github"></i>
							<%= link_to 'ruby-sr', '' %>
						</li>
						<li>
							<i class="fab fa-twitter"></i>
							<%= link_to 'ruby_sr', '' %>
						</li>
						<li>
							<i class="fab fa-youtube"></i>
							<%= link_to 'RubySRtalks', '' %>
						</li>
						<li>
							<i class="fab fa-facebook"></i>
							<%= link_to 'Grupo no Facebook', '' %>
						</li>
						<li>
							<i class="fab fa-google-plus"></i>
							<%= link_to 'Lista de discussão', '' %>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<p>Somos o grupo de usuários Ruby de <span class='bold'>São Roque</span></p>
					<small><%= Date.today.year %> &copy - Todos os direitos reservados.</small>
				</div>
			</div>
		</div>
	</div>
</footer>