<footer>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<div class="col-md-4">
					<h3>RubySR</h3>
					<%= link_to 'contato@rubysr.com.br', '' %>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li>
							<i class="glyphicon glyphicon-search"></i>
							<%= link_to 'ruby-sr', '' %>
						</li>
						<li>
							<i class="glyphicon glyphicon-search"></i>
							<%= link_to 'ruby_sr', '' %>
						</li>
						<li>
							<i class="glyphicon glyphicon-search"></i>
							<%= link_to 'RubySRtalks', '' %>
						</li>
						<li>
							<i class="glyphicon glyphicon-search"></i>
							<%= link_to 'Grupo no Facebook', '' %>
						</li>
							<li>
							<i class="glyphicon glyphicon-search"></i>
							<%= link_to 'Lista de discussão', '' %>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<p>Somos o grupo de usuários Ruby de São Roque</p>
				</div>
			</div>
		</div>
	</div>
</footer>